<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/FrontEnd/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/FrontEnd/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/FrontEnd/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/FrontEnd/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/FrontEnd/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/FrontEnd/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/FrontEnd/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/FrontEnd/css/custom.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                       
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                         
                            <div class="user_info">
                                <h6>Nimish Gondaliya </h6>
                                <h6>Brijesh Ramoliya</h6>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <ul class="list-unstyled components">
                        <li>
                            <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                        </li>

                        <li>
                            @*<a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class='fa fa-user' style='color:#0efbeb'></i> <span>Student Details</span></a>*@
                           
                            <a href="@Url.Action("StudentList","StudentDeetail")"><i class='fa fa-user' style='color:#0efbeb'></i> <span>Student</span></a> 
                         
                        </li>

                        <li>
                            <a href="@Url.Action("Mash","Mash")" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Mash</span></a>
                            <ul class="collapse list-unstyled" id="apps">
                                <li><a href="Food Menu.html">><span>Food Detail</span></a></li>
                                <li><a href="Complain.html">><span>Complain</span></a></li>
                            </ul>
                        </li>

                      

                        <li><a href="@Url.Action("Calender","Calender")"><i class='fa fa-calendar' style='color: blue'></i> <span>Calendar</span></a></li>

                        <li>
                            <a href="@Url.Action("Admin","Admin")">
                                <i class='fa fa-users' style='color:#f7020f'></i> <span>Admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="logo_section">
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="name_user">Admin</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="login.html"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                @RenderBody()

                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/FrontEnd/js/jquery.min.js"></script>
    <script src="~/FrontEnd/js/popper.min.js"></script>
    <script src="~/FrontEnd/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/FrontEnd/js/animate.js"></script>
    <!-- select country -->
    <script src="~/FrontEnd/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/FrontEnd/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/FrontEnd/js/Chart.min.js"></script>
    <script src="~/FrontEnd/js/Chart.bundle.min.js"></script>
    <script src="~/FrontEnd/js/utils.js"></script>
    <script src="~/FrontEnd/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/FrontEnd/js/perfect-scrollbar.min.js"></script>
    <script>var ps = new PerfectScrollbar('#sidebar');</script>
    <!-- custom js -->
    <script src="~/FrontEnd/js/custom.js"></script>
    <script src="~/FrontEnd/js/chart_custom_style1.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>


@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
